<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/josepfranco/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="josepfranco" />
            <add key="ClearTextPassword" value="d09c3730d9e77f4e81c8c1fbd3d812328d736795" />
        </github>
    </packageSourceCredentials>
</configuration>